<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;500;600&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Natural Selection</title>
</head>

<body>
    <header>
        <div class="hero">
            <nav>
                <div class="nav-items menu">
                    <img src="images/menu.svg">
                </div>
                <div class="nav-items logo">
                    <h4><u>NS</u></h4>
                </div>
                <div class="nav-items cart">
                    <img src="images/cart.svg">
                </div>
                <div class="nav-items profile">
                    <img src="images/user.svg">
                </div>
            </nav>
            <section>
                <h1>Natural Selection</h1>
                <div class="container">
                    <!-- <h3>Search hundreds of items</h3>
                    <h4>or check out our <a href="#">latest drop</a></h4> -->
                    <div class="btn">Shop Latest Drop</div>
                </div>
            </section>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="featured">
                <h2 data-aos="fade-right">Featured Items</h2>
                <article class="items">
                    <div class="item">
                        <img class="item-img" src="images/clothes/carcass_front.jpg" alt="">
                        <p class="description">ACDC shirt</p>
                        <p class="price">$40.00</p>
                    </div>
                    <div class="item">
                        <img class="item-img" src="images/clothes/carcass_front.jpg" alt="">
                        <p class="description">ACDC shirt</p>
                        <p class="price">$40.00</p>
                    </div>
                    <div class="item">
                        <img class="item-img" src="images/clothes/carcass_front.jpg" alt="">
                        <p class="description">ACDC shirt</p>
                        <p class="price">$40.00</p>
                    </div>
                    <div class="item">
                        <img class="item-img" src="images/clothes/carcass_front.jpg" alt="">
                        <p class="description">ACDC shirt</p>
                        <p class="price">$40.00</p>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <div class="test">
        <div class="container rule-div">
            <hr class="rule">
        </div>
    </div>
    <footer>
        <h2>About Natural Selection</h2>
        <div class="footer-content">
            <section class="contacts">
                <h5>Contacts:</h5>
                <ul>
                    <li class="instagram footerlink">
                        <img src="images/instagram.svg"></img>
                        <p>Instagram</p>
                    </li>
                    <li class="facebook footerlink">
                        <img src="images/facebook.svg"></img>
                        <p>Facebook</p>
                    </li>
                    <li class="email footerlink">
                        <a href="#"></a>
                        <img src="images/gmail.svg"></img>
                        <p>Gmail</p>
                    </li>
                </ul>
            </section>
            <section class="about">
                <h5>About NS:</h5>
                <p class="about-descr">
                    Natural Selection Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus adipisci laborum ipsum illum animi quos a quae iure, suscipit eos ea officia? Delectus repellat velit fugit ad amet. Inventore, ullam! Distinctio odio perspiciatis libero
                    ad at ex fuga magni, aliquid quis? Maxime at commodi animi mollitia! Iure error, architecto nobis deleniti sunt accusantium necessitatibus ipsum suscipit beatae, nesciunt voluptatem nulla. Voluptatibus eligendi enim officiis ea ipsam
                    dicta exercitationem repudiandae provident blanditiis, tempore consequatur, et doloremque, natus sit. Sunt, maiores incidunt. Harum, at voluptatibus magni obcaecati ipsa facere similique impedit quaerat? Veniam officiis eaque nesciunt
                    odit quo nostrum dolor magni eos nemo quae saepe perferendis sint mollitia provident atque corrupti at quibusdam hic unde ad, dolorem, aspernatur laborum neque. Eaque, non. Qui alias veniam amet animi voluptas nobis. A deserunt consequatur,
                    natus voluptate in accusamus maiores perspiciatis illo deleniti provident alias, officiis quo explicabo? Unde, perferendis earum excepturi nulla molestiae aliquam! Est in, qui accusantium et temporibus eius blanditiis! Consequuntur
                    rem vitae pariatur adipisci fugiat obcaecati illo ducimus et quas? Deserunt suscipit explicabo sapiente omnis enim quo molestias harum dignissimos magni. Laborum ex doloremque possimus praesentium corrupti commodi beatae odit a assumenda
                </p>
            </section>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>
    <script src="../public/js/app.js"></script>
</body>

</html>